@use 'variaveis';

// Estilos para a seção de shows
.shows {
    padding: 2vw 5.6vw;
    min-height: 50vw;

    // Lista de shows
    &__list {
        margin-top: 44px;
        display: none; // Inicialmente escondido
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;


        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        // Estado ativo para a lista
        &--is--active {
            display: grid; // Exibir como grid quando ativo
        }

        // Item individual de show
        &__item {
            img {
                max-width: 100%;
                border-radius: 4px;
            }
        }
    }

    // Abas para alternar entre listas de shows
    &__tabs {
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
            white-space: nowrap;
            overflow-x: scroll;
            padding-left: 30px;
        }

        // Botão individual da aba
        &__button {
            color: variaveis.$corTextoPrincipal;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;

            // Estado ativo para o botão
            &--is--active {
                border-color:  variaveis.$corTextoPrincipal;
            }

            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
    }
}