// Variáveis de cores
$corDeFundo: #040714;
$corTextoPrincipal: #f9f9f9;
$corTextoSecundario: #999999;
$corDeFundoBotaoPrimario: #6421ff;
$corDeFundoBotaoSecundario: #0063e5;
$corDeFundoBotaoDark: #000;
// ...outras variáveis de cor...

// Variáveis de espaçamento
$paddingPadrao: 16px;
// ...outras variáveis de espaçamento...

// Variáveis de fonte
$fontePadrao: 'Arial, sans-serif';
// ...outras variáveis de fonte...